.home {
  color: red;
  width: 10rem;
  background: greenyellow;
}
.hellow {
  color: red;
  display: -webkit-box;
  display: flex;
  width: 20px;
  height: 20px;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
}
