@import '~antd-mobile/lib/style/themes/default.less';

#footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  :global {
    .am-tabs-content-wrap {
      position: fixed !important;
      top: 0 !important;
    }
  }
}
